.news {
  margin: 0px 10px 15px 10px;
}

.more {
  margin: 17px 10px 15px 10px;
}

.more span {
  display: inline-block;
  padding-left: 20px;
}

.more button,
.more button:focus {
  background-color: white;
}

.loader {
  margin-top: 50px;
}
