.container {
  background: white;
  font-family: "Open Sans", sans-serif;
  color: black;
}

.label {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 0px;
}

.label span {
  padding-left: 10px;
}

.container .rs-col {
  padding: 0;
}

.user_choice {
  margin-top: 10px;
}

.block_choice {
  margin-bottom: 20px;
}

.container .check_radio_box > div {
  padding-left: 26px;
  padding-bottom: 0px;
  min-height: 26px;
}

.container .check_radio_box label span {
  left: 0px;
}

.container .circle_picker {
  margin-top: 10px;
}

.container .total {
  text-align: center;
  margin-bottom: 0px;
}

.container .total span {
  color: #3498ff;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}

.container .total button {
  color: #3498ff;
}

.container .link_add_model {
  color: #3498ff;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  display: inline-block;
  margin-top: 7px;
}

.container .link_add_model:hover {
  border-color: #3498ff;
}

.container .remove_model {
  text-align: center;
  color: #ff3434;
  cursor: pointer;
}
