.login-form-component {
  flex: 1;
  display: flex;

  & > div {
    background-color: white;
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
    flex: 1;
  }

  .header {
    text-align: left;
    margin-bottom: 20px;
  }

  .header > div {
    font-size: 16px;
    color: gray;
  }

  .header > div + div {
    text-align: right;
  }

  .header .active {
    font-weight: 600;
    color: black;
  }

  .header :not(.active):hover {
    cursor: pointer;
    text-decoration: underline;
  }
}


