.filter-card-component {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  transition: background-color 0.3s linear;

  &.disabled {
    opacity: 0.6;
  }

  h4 {
    color: black;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    margin-bottom: 10px;
  }

  .btn-more {
    min-width: 110px;
    margin-right: 10px;
  }

  .count-adverts {
    display: inline-block;
  }

  .count-adverts span {
    font-size: 12px;
    font-weight: 400;
    color: gray;
  }

  .count-adverts .new-adverts {
    color: limegreen;
  }

  .controls-wrapper {
    text-align: right;
  }

  .controls-wrapper > span {
    display: inline-block;
  }

  .controls-wrapper {
    .is-mute-wrapper {
      min-width: 50px;
      text-align: center;
      display: inline-block;
    }

    i {
      cursor: pointer;
      vertical-align: middle;
    }
  }

  .remove-icon {
    color: red;
  }

  .tags-wrapper {
    margin: 10px 0;

    & > div {
      background-color: rgb(241,241,241);
      margin: 0 10px 10px 0;
    }
  }
}

.filter-card-modal {
  text-align: center;

  i {
    color: #ffb300;
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
  }
}