.container {
  font-family: "Open Sans", sans-serif;
  margin: 10px 10px 0;
}
.container .tags_wrapper > div {
  background-color: rgb(224, 224, 224);
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 10px;
  cursor: pointer;
}

.container .tags_wrapper > div:hover {
  text-decoration: line-through;
}
