.color-picker-component {
  margin-top: 5px;
  font-size: 0;

  & > .item {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 8px;
    color: white;
    position: relative;
  }

  & > .item.black-ok {
    color: black;
  }

  & > .item.white {
    box-shadow: #b1b0b0 0 0 0 1px inset;
  }

  & > .item:hover {
    cursor: pointer;
  }

  & > .item span {
    display: none;
    position: absolute;
    margin-left: 5px;
    margin-top: 7px;
    width: 14px;
    height: 6px;
    border-bottom: solid 1px currentColor;
    border-left: solid 1px currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .item.active span {
    display: inline-block;
  }

  .item.another {
    background: linear-gradient(
                    217deg,
                    rgba(255, 0, 0, 0.8),
                    rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  }
}


