.search-result-component {
  background-color: #ffffff;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  max-height: 2000px;

  .filter-tags-component {
    margin: 10px 20px 5px 20px;
  }

  .rs-loader-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    padding: 10px 20px 0 0;
    transition: all 0.3s;

    &.show {
      opacity: 1;
    }

    .rs-loader-spin::before {
      border-color: rgba(202,202,202, 0.8);
    }

    .rs-loader-spin::after {
      border-color: #000000 transparent transparent;
    }

    .rs-loader-spin::before,
    .rs-loader-spin::after {
      border-width: 1px;
    }
  }

  .rs-panel-body {
    padding: 0;
  }

  .nothing-found,
  .loading-label {
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    opacity: 0.7;
  }

  .tabs {
    padding: 0 20px;

    /* TODO: Important это плохо?*/
    & > ul > li > a {
      color: #a9a9a9 !important;
      font-family: "Open Sans", sans-serif;
      padding: 8px 20px;
      overflow: initial;
      font-weight: 400;

      .rs-badge-content {
        top: -7px;
        right: -3px;
        background-color: red;
      }
    }

    & > ul > li.active > a {
      color: #575757 !important;
    }

    & > ul > li.disabled > a {
      color: #dadada !important;
    }

    & > ul > li > a::before {
      background-color: #575757 !important;
    }
  }
}

