body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background: #f1f1f1;
}

.rs-input-group.rs-input-group-inside input.rs-input ~ .rs-input-group-btn {
  top: 0px;
  right: 0px;
}

.rs-input-group-lg.rs-input-group > .rs-input,
.rs-input-group-inside.rs-input-group-lg > .rs-input-group-btn {
  height: 55px;
}
