.container {
  margin-left: 20px;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}

.container .form > div + div span,
.container .password_wrapper > div + div span {
  margin-top: 25px;
}

.container .form > div > span,
.container .password_wrapper > div > span {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-right: 10px;
  font-size: 13px;
}

.container .password_wrapper > div > span {
  width: 180px;
}

.container .form > div > input,
.container .password_wrapper > div > input {
  width: calc(100% - 90px);
  display: inline-block;
}

.container .password_wrapper > div > input {
  width: calc(100% - 190px);
}

.container .password_wrapper button {
  font-size: 12px;
}

.container .other_options {
  padding-left: 20px;
}

.container .other_options a {
  margin: 10px 0;
  display: inline-block;
}

.code_bot > div {
  width: 130px;
  margin: 10px 0;
}
